/* font style for all section */
* {
    font-family: "Mulish", sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* navigation and banner section styles start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 135px 49px;
}

.nav-bars {
    display: none;
}

.nav-icon-title-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-icon-title-container img {
    width: 48px;
    height: 46px;
}

.nav-title {
    font-size: 2.2em;
    color: #131318;
    font-weight: 800;
}

.travel-text {
    color: #FF5400;
}

.nav-list-container ul {
    display: flex;
}

.nav-list-container li {
    list-style: none;
    margin-right: 44px;
}

.nav-list-container li:last-child {
    margin: 0;
}

.nav-list-container li:first-child a {
    font-weight: 800;
    color: #FF5400;
}

.nav-list-container a {
    text-decoration: none;
    font-size: 1.125em;
    color: #424247;
    font-weight: 400;
}

.banner-section {
    margin: 0 135px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/banner-background.png");
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4em;
    font-weight: 800;
    color: #fff;
    margin: 0;
}

.banner-description {
    font-size: 1em;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    margin: 24px 247px 48px;
}

.find-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 748px;
    height: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-style {
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    outline-style: none;
    border: 1px solid lightgray;
}

.find-now-btn {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 35px;
}


/* navigation and banner section styles end */

/* our popular tour section styles start */
.popular-tour-section {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 135px 100px;
    gap: 53px;
}

.popular-tour-title {
    color: #131318;
    margin: 0;
    font-size: 40px;
    font-weight: 800;
}

.popular-tour-desc,
.popular-tour-col-left>ul>li {
    margin: 24px 0 0 0;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.popular-tour-col-left {
    text-align: justify;
}

.popular-tour-col-left>ul {
    margin: 24px 0 0 0;
    padding-left: 20px;
}

.read-more-btn {
    display: inline-block;
    margin-top: 32px;
}

/* our popular tour section styles end */

/* choose your destination section styles start */
.choose-your-destination-section {
    margin: 0 135px 100px;
}

.choose-your-destination-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.destination-desc {
    margin: 24px 250px 48px;
    text-align: center;
}

.destination-grid-container {
    display: grid;
    row-gap: 24px;
}

.destination-row-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.destination-img-container {
    position: relative;
}

.destination-img-container:hover {
    opacity: 90%;
    cursor: pointer;
}

.destination-img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    transform: translate(-50%);
    font-size: 28px;
    font-weight: 800;
}

.destination-row-two {
    display: grid;
    grid-template-columns: 374px 474px 274px;
    gap: 24px;
}

.destination-row-three {
    display: grid;
    grid-template-columns: 473px 673px;
    gap: 24px;
}

/* choose your destination section styles end */

/* why choose us section styles start */
.why-choose-us {
    margin: 0 135px 100px;
}

.hotels-services-prices-container {
    display: grid;
    row-gap: 24px;
}

.hotel-services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.hotels {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.services {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price-gurantee-container {
    display: grid;
    grid-template-rows: 1fr;
}

.price-gurantee {
    max-width: 573px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* why choose us section styles end */

/* newsletter section styles start */
.newsletter-section {
    display: flex;
    justify-content: space-evenly;
    margin: 0 135px 100px;
    gap: 24px;
}

.newsletter-col-left {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

hr {
    width: 100%;
    margin: 24px 0 24px;
    background: rgba(19, 19, 24, 0.10);
}

.subscribe-input {
    display: inline-block;
    width: calc(100% - 32px);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.subscribe-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 10px 16px;
    width: calc(100% - 32px);
}

.newsletter-col-right img {
    width: 100%;
    height: 100%;
}

/* newsletter section styles end */

/* mobile device responsive styles start */

@media screen and (max-width: 600px) {
    nav {
        margin: 19px 20px 17px;
    }

    .nav-icon-title-container {
        gap: 10px;
    }

    .nav-icon-title-container img {
        width: 28px;
        height: 32px;
    }

    .nav-title {
        font-size: 1.3em;
    }

    .nav-list-container ul {
        display: none;
    }

    .nav-bars {
        display: block;
    }

    .banner-section {
        margin: 0 20px;
        height: 500px;
    }

    .banner-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-title {
        font-size: 1.4em;
        font-weight: 800;
        color: #fff;
        margin: 0;
    }

    .banner-description {
        font-size: 14px;
        font-weight: 400;
        color: #FFF;
        text-align: center;
        margin: 10px 15px 32px;
    }

    .find-container {
        flex-direction: column;
        gap: 16px;
        width: 80%;
        padding: 16px;
        height: auto;
    }

    .input-style {
        width: 90%;
    }

    input[type="text"] {
        width: 82%;
    }

    .find-now-btn {
        width: 63%;
    }

    .popular-tour-section {
        flex-direction: column;
        margin: 24px 20px;
        gap: 24px;
    }

    .popular-tour-title {
        font-size: 1.25em;
    }

    .popular-tour-desc,
    .popular-tour-col-left>ul>li {
        font-size: 14px;
    }

    .read-more-btn {
        width: 40%;
        padding: 10px 20px;
    }

    .popular-tour-col-right img {
        width: 100%;
    }

    .choose-your-destination-section {
        margin: 50px 20px 50px;
    }

    .choose-your-destination-title {
        font-size: 20px;
    }

    .destination-desc {
        margin: 16px 20px;
        text-align: center;
    }

    .destination-grid-container {
        row-gap: 16px;
    }

    .destination-row-one {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .destination-row-two {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .destination-row-three,
    .hotel-services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .destination-img-title {
        font-size: 20px;
        font-weight: 700;
    }

    .destination-row-one img,
    .destination-row-two img,
    .destination-row-three img {
        width: 100%;
    }

    .why-choose-us {
        margin: 0 20px 50px;
    }

    .hotels-services-prices-container {
        row-gap: 16px;
    }
}

/* mobile device responsive styles end */